body {
 text-align: center;
 font-family: Arial, sans-serif;
 background: #f7f7f7;
}
#game {
 position: relative;
 width: 800px;
 height: 200px;
 margin: auto;
 background-image: url("assets/ground.png");
 background-repeat: repeat-x;
 overflow: hidden;
 border: 2px solid black;
}
#dino {
 position: absolute;
 bottom: 10px;
 left: 50px;
 width: 60px;
}
#cactus {
 position: absolute;
 bottom: 10px;
 right: -60px;
 width: 40px;
}
.jump {
 animation: jump 0.5s linear;
}
@keyframes jump {
 0% { bottom: 10px; }
 50% { bottom: 120px; }
 100% { bottom: 10px; }
}
